body {
    background-color: rgb(89, 123, 185);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-image:url(assets/simbolo.jpg);
    background-size: ;
    
}

img {
    width: 900px;
    height: 1200px;
    border-radius: 100px;
}