body {
    background-color: rgb(89, 123, 185);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    background-image:url(assets/simbolo.jpg);
   
    
}

img {
    width: 900px;
    height: 1200px;
    border-radius: 100px;
}